<!-- Semantic Graph v2.0.0 -->
<!-- Author: Ed Duarte -->
<!-- Email: edmiguelduarte@gmail.com -->

{% extends "base.html" %}

{% block menu %}
    <ul class="nav navbar-nav navbar-left">
        <li class="active">
            <a href="#">
                <i class="fa fa-folder fa-1x"></i> Browse
            </a>
        </li>
        <li>
            <a href="/graph">
                <i class="fa fa-exchange fa-1x"></i> Graph
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <!-- Raw subject dialog -->
    <div class="modal fade" id="raw-subject-modal" data-width="1000" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="form-signin-heading">Raw data</h2>
                </div>
                <div class="modal-body">
                    <label>
                        <textarea id="subjectTextarea"
                                  class="form-control"
                                  rows="10"
                                  cols="70">
aasdfaaasdfaaasdfaaasdfaaasdfaaasdfaaasdfaaaa
                        </textarea>
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Dismiss
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Raw object dialog -->
    <div class="modal fade" id="raw-object-modal" data-width="1000" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="form-signin-heading">Raw data</h2>
                </div>
                <div class="modal-body">
                    <label>
                        <textarea id="objectTextarea"
                                  class="form-control"
                                  rows="10"
                                  cols="70">
bfnpjkpjkgkgokpogbfnpjkpjkgkgokpogbfnpjkpjkgkgokpogbfnpjkpjkgkgokpog
                        </textarea>
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Dismiss
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <!-- Page Content -->
        <div class="container-fluid">
            <br/>
            <table style="width: 100%">
                <tr>
                    <td>
                        <h1 class="page-header">
                            <small>Browse</small>
                        </h1>
                    </td>
                </tr>
            </table>
            <div id="upload-alert"
                 class="alert alert-warning alert-dismissible"
                 hidden
                 role="alert">
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <strong>Quick Start:</strong>
                <a href="#" class="alert-link" data-toggle="modal" data-target="#add-modal">
                    <i class="fa fa-plus-square fa-1x"></i> Add
                </a>
                a triple or
                <a href="#" class="alert-link" data-toggle="modal" data-target="#upload-modal">
                    <i class="fa fa-upload fa-1x"></i> Upload
                </a>
                a RDF file!
            </div>
            <div id="error-alert"
                 class="alert alert-danger"
                 hidden
                 role="alert">
                Error:
                <br/>
                <p id="error-message"></p>
                <br/>
                Are you sure you set the right file format?
            </div>
            <div id="ready-alert"
                 class="alert alert-info alert-dismissible"
                 hidden
                 role="alert">
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                The triplestore has triples! You can search for a
                subject or object below to see all its properties
                exposed using a micro-format.
            </div>
            <form id="fieldForm" method="post" class="form-horizontal">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <input type="text"
                               class="form-control"
                               id="search"
                               style="margin-top: 5px; margin-bottom: 5px;"
                               name="search"
                               placeholder="Search for a subject or object..."/>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <button type="submit"
                                style="margin-top: 5px; margin-bottom: 5px; width: 180px"
                                class="btn btn-default btn-large">
                            <span class="fa fa-search"></span>
                            Search
                        </button>
                    </div>
                </div>
            </form>
            <br/>
            <br/>
            <div id="results">
                <div id="loading" style="text-align: center;"></div>
                <div id="panels" class="row" hidden>
                    <div class="col-lg-6 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">as a Subject</h3>
                            </div>
                            <div id="subjectResults" class="panel-body"></div>
                            <a href="#" data-toggle="modal" data-target="#raw-subject-modal">
                                <div class="panel-footer">
                                    <span class="pull-left">Show raw data</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-down"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">as an Object</h3>
                            </div>
                            <div id="objectResults" class="panel-body"></div>
                            <a href="#" data-toggle="modal" data-target="#raw-object-modal">
                                <div class="panel-footer">
                                    <span class="pull-left">Show raw data</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-down"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3" style="padding:25px;">
            </div>
        </div>
    </div>
    <!-- /#content -->

    <script src="{{ STATIC_URL }}js/browse.js" type="text/javascript"></script>
{% endblock %}